html {
    scroll-behavior: smooth;

}
body {
    margin: 0;
    padding: 0; 
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0D1B1E;
    overflow-x: hidden;
    color: white;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: white;
}
ul {
    padding: 0;
}

.homeli {
    list-style-type: none;
    display: inline-block;
    padding: 0 10px;
    padding-top: 10px;
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
}
.backgroundimg1 {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-image: url(/images/hex1.png);
    z-index: -2;
}

  .headerimg {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 0;
    left: 0;
}  
/* header */
 .headercontainer {
    position: sticky;
    position: -webkit-sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 7vh;
    width: 100vw;
    background-color: #0D1B1E;
    border-bottom: 4px solid #9A031E;
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 0;
}

.hover {
    --c:linear-gradient(rgb(255, 255, 255) 0 0);
    padding-bottom: .15em;
    background: var(--c), var(--c);
    background-size: .3em .1em;
    background-position:50% 100%;
    background-repeat: no-repeat;
    transition: .3s linear, background-size .3s .2s linear;
  }
  .hover:hover {
    background-size: 40% .1em;
    background-position: 10% 100%, 90% 100%;
  }
  
/* section */
.sectioncontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    margin-top: 15%;
}


.hometext1 {
    font-size: 8vw;
    font-weight: bold;
    margin-left: 1%;
     margin-top: 1%; 
     margin-bottom: 1%; 
    color: #0496FF;
}
.hometext2 {
    font-size: 1.5rem;
    font-weight: bold;
     margin-top: -6%; 
     margin-bottom: 1%; 
    color: #9A031E;
}
.hometext3 {
    font-size: 1.5rem;
    font-weight: bold; 
}

.homebtn {
    background-color: #9A031E;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 1%;
    cursor: pointer;
    transition: 0.3s;
}

.homebtn:hover {
    background-color: #29335C;
    transform: scale(1.5);    
} 

.section2container {
    border-top: 4px solid #9A031E;
    width: 100vw;
    height: 100vh;
    background-color: #0D1B1E;
    margin-top: 15.3%;
    z-index: -2;
}

.aboutus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}

.abouttext1 {
    font-size: 8vw;
    font-weight: bold;
    margin-left: 1%;
    margin-top: 4%; 
    margin-bottom: 1%; 
    color: white;
    border-bottom: 2px solid white;
    width: 800px;
    color: #0496FF;
}

.aboutli {
    height: 120px;
    width: 600px;
    border: 2px solid #9A031E;
    color: white;
    font-size: 20px;
    border-radius: 15px;
    margin-bottom: 1%;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    transition: all 0.5s;
}
.aboutspan {
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    color: white;
}
.sectioncontainer:hover {
    cursor: default;

}
.section2container:hover {
    cursor: default;

}
.as1 {
    margin-left: 1%;
    margin-top: 20px;
}

.as2 {
    margin-left: 1%;
    margin-top: 20px;
}

.as3 {
    margin-left: 1%;
    margin-top: 20px;
}
.bi {
    color: white;
}
.bi-people-fill {
    font-size: 80px;
}
.bi-building-fill {
    font-size: 80px;
}
.bi-trophy-fill{
    font-size: 80px;
}

.buttondiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bic {
    font-size: 60px;
    cursor: pointer;
    transition: all 0.3s;
}

.bic:hover {
    transform: scale(1.5);
    color: #29335C;
}
.section3container {
    border-top: 4px solid #9A031E;
    width: 100vw;
    height: 100vh;
    background-color: #0D1B1E;
    z-index: -2;
    cursor: default;
}

.servicetext {
    font-size: 8vw;
    font-weight: bold;
    margin-left: 1%;
    margin-top: 4%; 
    margin-bottom: 1%; 
    color: white;
    border-bottom: 2px solid white;
    width: 800px;
    color: #0496FF;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.ourserviceul {
    width: 700px;
    height: 380px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.serviceli {
    width: 200px;
    height: 200px;
    border: 2px solid #9A031E;
    list-style-type: none;
    border-radius: 15px;
    text-align: center;
    transition: all 1s;
}

.bis {
    font-size: 50px;
} 

.serviceli:hover {
    background-color: #9A031E;
    cursor: pointer;
}

.section4container {
    border-top: 4px solid #9A031E;
    width: 100vw;
    height: 100vh;
    background-color: #0D1B1E;
    z-index: -2;
    cursor: default;
}

.contacttext {
    font-size: 8vw;
    font-weight: bold;
    margin-left: 1%;
    margin-top: 4%; 
    margin-bottom: 1%; 
    color: white;
    border-bottom: 2px solid white;
    width: 800px;
    color: #0496FF;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.contactform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    margin-top: 5%;
}

.contactinput {
    width: 500px;
    height: 50px;
    border-radius: 15px;
    border: 2px solid #9A031E;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 20px;
    transition: all 0.5s;
}

.contactbtn {
    width: 500px;
    height: 50px;
    border: none;
    border-radius: 15px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 20px;
    transition: all 0.5s;
    text-align: center;
    background-color: #9A031E;
    color: white;
    cursor: pointer;
}

.contactbtn:hover {
    background-color: #29335C;
}

.footercontainer {
    width: 100vw;
    height: fit-content;
    background-color: #0D1B1E;
    z-index: -2;
    cursor: default;
}

.dane {
    display: flex;
    flex-direction: row;
    
}

.footerimg {
    width: 200px;
    height: 200px;
}

.footerli {
    list-style-type: none;
    color: white;
    font-size: 20px;
}
.footerul {
    margin-top: 5%;
}

@media screen and (max-width: 880px) {
    .footerimg {
        width: 100px;
        height: 100px;
    }
    .footerli {
        font-size: 15px;
    }
    .trademark {
        top: -50px;
    }
    .contactinput {
        width: 300px;
        height: 40px;
        font-size: 15px;
    }
    .contactbtn {
        width: 300px;
        height: 40px;
        font-size: 15px;
    }
    .contacttext{
        width: 300px;
    }

    .abouttext1 {
        width: 300px;
    }
    .servicetext {
        width: 300px;
    }
    .headercontainer {
        height: 10vh;
        position: relative;
    }
    .headerimg {
        position: relative;
        top: 10%;
    }
    .hometext2 {
        margin-top: -1%;
        font-size: 5vw;
    }
    .aboutli {
        width: 300px;
    }
    .aboutspan {
        font-size: 12px;
        width: 200px;
    }
    .serviceli {
        width: 150px;
        height: 150px;
        font-size: 10px;
    }
    .ourserviceul {
        width: 300px;
        height: 300px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .section4container {
        height: 70vh;
    }
    .homeli {
        display: none;
    }
    .section2container {
        margin-top: 150%;
    }
    .hometext1 {
        font-size: 15vw;
        margin-top: 50%;
    }
    .bic {
        display: none;
    }
}