html {
    scroll-behavior: smooth;

}
body {
    margin: 0;
    padding: 0; 
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0D1B1E;
    overflow-x: hidden;
    background-image: url(/MarketingSite/images/Hexagon3.svg);
    color: white;
}
.headercontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 100vw;
    position: sticky;
    position: -webkit-sticky;
    background-color: #0D1B1E;
    border-bottom: 2px solid #9A031E;
    z-index: 1;
}

.sectioncontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    margin-top: 15%;
}


.hometext1 {
    font-size: 8rem;
    font-weight: bold;
    margin-left: 1%;
     margin-top: 1%; 
     margin-bottom: 1%; 
    color: #087E8B;
}
.hometext2 {
    font-size: 1.5rem;
    font-weight: bold;
     margin-top: -6%; 
     margin-bottom: 1%; 
    color: #9A031E;
}
.hometext3 {
    font-size: 1.5rem;
    font-weight: bold; 
}
a {
    color: white;
    text-decoration: none;
}
li {
    list-style-type: none;
    display: inline-block;
    padding: 0 10px;
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
}


.headerimg {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 0;
    left: 0;
}